name: FPGA Timer CI

on:
  push:
  pull_request:

jobs:
  vunit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install GHDL
        run: |
          sudo apt-get update
          sudo apt-get install -y ghdl

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install vunit_hdl

      - name: Run VUnit tests
        run: |
          python3 run.py
